
<a class="mat-flat-button" mat-button="" (click)="onClick('transfer')">
	<mat-card class="mat-card">
		<mat-card-title class="mat-card-header">Валютный перевод</mat-card-title>
		<mat-card-content class="mat-card-content"> Заявление на перевод валюты </mat-card-content>
	</mat-card>
</a>

<a class="mat-flat-button" mat-flat-button="" (click)="onClick('buy')">
	<mat-card class="mat-card">
		<mat-card-title class="mat-card-header">Покупка валюты</mat-card-title>
		<mat-card-content class="mat-card-content"> Заявление на покупку валюты </mat-card-content>
	</mat-card>
</a>
		
<a class="mat-flat-button" mat-flat-button="" (click)="onClick('sale')">
	<mat-card class="mat-card">
		<mat-card-title class="mat-card-header">Продажа валюты</mat-card-title>
		<mat-card-content class="mat-card-content"> Заявление на продажу валюты </mat-card-content>
	</mat-card>
</a>
