
<a class="mat-flat-button" mat-button="" (click)="onClick('contract')">
	<mat-card class="mat-card">
		<mat-card-title class="mat-card-header">Договор</mat-card-title>
		<mat-card-content class="mat-card-content">Заявление о постановке на учет внешнеторгового контракта</mat-card-content>
	</mat-card>
</a>

	
<a class="mat-flat-button" mat-flat-button="" (click)="onClick('spd')">
	<mat-card class="mat-card">
		<mat-card-title class="mat-card-header">Справка о подтверждающих документах</mat-card-title>
		<mat-card-content class="mat-card-content">Форма учета финансовых операций, осуществляемых в иностранной валюте</mat-card-content>
	</mat-card>
</a>
